---
import { cn } from "@/lib/utils";
import { ThemeToggle } from "@/components/theme-toggle";

type Props = {
  className?: string;
};

const { className } = Astro.props;
---

<footer class={cn(className)}>
  <div
    class="container flex flex-col items-center justify-between gap-4 py-10 md:h-24 md:flex-row md:py-0"
  >
    <div
      class="flex flex-col items-center gap-4 px-8 md:flex-row md:gap-2 md:px-0"
    >
      <p class="text-center text-sm leading-loose md:text-left balance-text">
        Built with{" "}
        <a
          href="https://astro.build/"
          target="_blank"
          rel="noreferrer"
          class="font-medium underline underline-offset-4"
        >
          Astro
        </a>
        . Based on{" "}
        <a
          href="https://github.com/shadcn-ui/taxonomy"
          target="_blank"
          rel="noreferrer"
          class="font-medium underline underline-offset-4"
        >
          shadcn-ui/taxonomy
        </a>
        .
      </p>
    </div>

    <ThemeToggle client:idle />
  </div>
</footer>
