---
import MainLayout from "@/layouts/main-layout.astro";
import { Image } from "astro:assets";
---

<MainLayout
  title="Auteurs"
  description="Un livre co-ecrit par Ismail Hamila et Adrien Gibrat"
  mainClass="container py-10"
>
  <section class="w-3/4 mx-auto">
    <h1 class="font-heading text-4xl">Ismail Hamila</h1>
    <Image
      class="rounded-full float-left mt-4 mr-8 mb-8"
      width="200"
      height="200"
      src="/profile/ismail-hamila.png"
      alt="Illustration de Ismail Hamila dessinée par Minastrie"
    />
    <p>
      D’abord UX Designer, Ismaïl est devenu expert en stratégie Design, puis a
      finalement évolué vers le rôle de Design System Manager.
    </p>
    <p>
      Dès le début de sa carrière, Ismaïl a choisi l’indépendance, peut-être
      influencé par ses premières expériences entrepreneuriales dans
      l’événementiel et la musique. Autodidacte passionné, il a complété sa
      formation en obtenant une certification en Product Management,
      enrichissant ainsi son expertise.
    </p>
    <p>
      Au fil des années, il a contribué à des projets novateurs pour des marques
      de renom telles que Nike et a même eu l’opportunité de réinventer le site
      de l’OM. Il a également joué un rôle clé dans la mise en place de Design
      Systems au sein de plusieurs grandes entreprises, notamment chez KPMG et
      La Redoute.
    </p>
    <p>
      Si vous ne le trouvez pas en train de concevoir, vous le trouverez
      sûrement en train de s’adonner à sa passion pour la gastronomie et la
      mixologie. Il y exprime sa créativité avec autant d’éclat que dans ses
      projets professionnels.
    </p>
    <hr class="m-16" />
    <h1 class="font-heading text-4xl">Adrien Gibrat</h1>
    <Image
      class="rounded-full float-left mt-4 mr-8 mb-8"
      width="200"
      height="200"
      src="/profile/adrien-gibrat.png"
      alt="Illustration de Adrien Gibrat dessinée par Minastrie"
    />
    <p>
      Après 10 ans en tant que développeur web fullstack, Adrien a choisi en
      2014 de se spécialiser dans le développement Front-End. Convaincu que les
      navigateurs sont l’avenir pour créer des produits et des expériences
      utilisateur exceptionnels, il apprécie particulièrement la collaboration
      avec les designers UI et UX.
    </p>
    <p>
      Grâce à sa solide expérience technique et son goût pour le partage, Adrien
      s’investit pleinement dans l’accompagnement des équipes de développement.
    </p>
    <p>
      Passionné par son métier et résolument tourné vers l’innovation, Adrien
      demeure un acteur incontournable dans le domaine du développement
      Front-End, contribuant ainsi à façonner les futures tendances de
      l’industrie numérique.
    </p>
  </section>
</MainLayout>
