---
import MainLayout from "@/layouts/main-layout.astro";
import { YouTube } from "@astro-community/astro-embed-youtube";
import { Content as Meetup1Links } from "./_links/meetup-1.md";
import { Content as Meetup2Links } from "./_links/meetup-2.md";
---

<style is:global>
  .links {
    a:has(.rlc-info) {
      border: none;
      margin: 0;
      &:hover {
        box-shadow: none;
      }
    }
    .rlc-info {
      padding-top: 0;
      padding-inline: 0;
    }
    a:has(.rlc-image-container) .rlc-info {
      max-width: 100%;
    }
    .rlc-description,
    .rlc-image-container {
      display: none;
    }
    .rlc-title,
    .rlc-url {
      font-size: inherit;
    }
  }
</style>

<MainLayout
  title="Meetups"
  description="Retrouvez les replays vidéo de nos meetups sur les Design Tokens"
  mainClass="container py-10"
>
  <section class="w-3/4 mx-auto max-w-[720px]">
    <h1 class="font-heading text-4xl my-8">
      Meetups Design Tokens - DesignOps spinoff
    </h1>

    <p>
      Découvrez le pouvoir des Design Tokens : la clé de la cohérence visuelle
      de vos produits.
    </p>

    <h2 class="font-heading text-2xl my-4">Design Tokens serie #1</h2>

    <a href="https://www.meetup.com/designops-meetup/events/300163086/"
      ><em>Evénement passé - Le jeudi 18 avril 2024</em></a
    >

    <a href="https://www.meetup.com/designops-meetup/events/300163086/">
      <img
        alt="Meetup Design Tokens serie #1 - 18 avril 2024 - Paris"
        class="w-full max-w-[720px] my-4"
        src="https://secure.meetupstatic.com/photos/event/1/c/6/8/600_520327272.webp?w=750"
      />
    </a>

    <p>
      Les Design Tokens transforment la manière dont nous concevons et
      développons les interfaces, en offrant une source unique de vérité pour
      les styles, les tailles voire d'autres décisions de Design. Ces petites
      unités de Design permettent une cohérence accrue, une maintenance
      simplifiée et une collaboration renforcée entre designers et développeurs.
      Mais comment les intégrer efficacement sans se perdre dans la complexité ?
    </p>

    <h3 class="font-heading my-2">Programme</h3>

    <ul class="list-disc ps-4">
      <li>
        <strong>Design Tokens: une introduction</strong> pour dévoiler le potentiel
        des Design Tokens dans vos projets par <a
          href="https://www.linkedin.com/in/ismailhamila/">Ismail Hamila</a
        >, Design Lead et <a href="https://www.linkedin.com/in/adriengibrat/"
          >Adrien Gibrat</a
        >, Lead Frontend dev.
      </li>
      <li>
        <strong
          >Standardisation des design tokens, le futur du design à grande
          échelle</strong
        > par <a href="https://www.linkedin.com/in/louischenais"
          >Louis Chenais</a
        >, fondateur de <a href="https://specifyapp.com/">Specify</a> et membre du
        <a href="https://www.designtokens.org/">Design Tokens Community Group</a
        >.
      </li>
      <li>
        <strong>Retours d'expérience Carrefour</strong> : <a
          href="https://www.linkedin.com/in/jeremy-dahan/">Jérémy Dahan</a
        > et <a href="https://www.linkedin.com/in/deshouxantoine/"
          >Antoine Deshoux</a
        > partageront leur usage pratique des Design Tokens chez <a
          href="https://carrefour.design/">Carrefour</a
        >.
      </li>
    </ul>

    <h3 class="font-heading text-xl my-2">Replay video</h3>

    <YouTube id="mwng4iaua-s" class="my-2" />

    <h3 class="font-heading text-xl my-2">Slides Figma</h3>

    <iframe
      class="w-full max-w-[720px] my-4 border border-slate-5400"
      height="450"
      src="https://www.figma.com/embed?embed_host=share&url=https%3A%2F%2Fwww.figma.com%2Fproto%2FJBAWcRaqhMEupCgV2eVGt3%2FMeetup-presentations%3Fkind%3Dproto%26node-id%3D1-47%26page-id%3D0%253A1%26scaling%3Dcontain%26starting-point-node-id%3D1%253A47%26t%3D85B99HyaxrrXdDI6-1%26hotspot-hints%3D0"
      allowfullscreen></iframe>

    <h3 class="font-heading text-xl my-2">Liens</h3>

    <section class="links w-full max-w-[720px]">
      <Meetup1Links />
    </section>

    <h3 class="font-heading my-2">📣 Intervenants</h3>
    <ul>
      <li>
        <a href="https://www.linkedin.com/in/louischenais">Louis Chenais</a>,
        Co-Founder & Chief Evangelist @ <a href="https://specifyapp.com/"
          >Specify</a
        >
      </li>
      <li>
        <a href="https://www.linkedin.com/in/jeremy-dahan/">Jérémy Dahan</a>,
        Design System Designer @ <a href="https://carrefour.design/"
          >Carrefour</a
        >
      </li>
      <li>
        <a href="https://www.linkedin.com/in/deshouxantoine/">Antoine Deshoux</a
        >, Lead Design System @ <a href="https://carrefour.design/">Carrefour</a
        >
      </li>
      <li>
        <a href="https://www.linkedin.com/in/ismailhamila/">Ismail Hamila</a>,
        Design Lead @ <a href="https://www.malt.fr/profile/ismailhamila"
          >Freelance</a
        >
      </li>
      <li>
        <a href="https://www.linkedin.com/in/adriengibrat/">Adrien Gibrat</a>,
        Front-End Developer @ <a href="https://frontguys.fr/">Frontguys</a>
      </li>
    </ul>

    <h2 class="font-heading text-2xl my-4">Design Tokens serie #2</h2>

    <a href="https://www.meetup.com/designops-meetup/events/300735050/"
      ><em>Evénement passé - Le mardi 14 mai 2024</em></a
    >

    <a href="https://www.meetup.com/designops-meetup/events/300735050/">
      <img
        alt="Meetup Design Tokens serie #2 - 14 mai 2024 - Paris"
        class="w-full max-w-[720px] my-4"
        src="https://secure.meetupstatic.com/photos/event/7/3/7/c/600_520769564.webp?w=750"
      />
    </a>

    <p>
      Comment utiliser de façon optimale <a href="https://tokens.studio/"
        >Tokens Studio</a
      > et <a href="https://figma.com/">Figma</a> pour améliorer l'organisation et
      l'usage des Design Tokens. Vous apprendrez tout ce que les équipes de <a
        href="https://www.france.tv/">France Télévision</a
      > ont réussi mais aussi ce qui n'a pas fonctionné.
    </p>

    <h3 class="font-heading my-2">Programme</h3>

    <ul class="list-disc ps-4">
      <li>
        Découvrez le <strong
          >retour d'experience de <a href="https://www.france.tv/">France TV</a
          ></strong
        > passionnant avec <a
          href="https://www.linkedin.com/in/pierre-yves-vignau-a99a9424/"
          >Pierre-Yves Vignau</a
        > et de <a href="https://www.linkedin.com/in/lesniakromain/"
          >Romain Lesniak</a
        > sur l'implémentation des Design Tokens dans un environnement multimodal
        : web, mobile iOS / Android et de nombreuses apps TV embarquées.
      </li>
      <li>
        <strong><a href="https://tokens.studio/">Tokens Studio</a></strong>, en
        duplex, avec <a href="https://www.linkedin.com/in/mikekamminga/"
          >Mike Kamminga</a
        >, CEO of <a href="https://www.linkedin.com/company/hyma-bv">Hyma</a>,
        l'entreprise derrière <a href="https://tokens.studio/">Tokens Studio</a
        >, partage les dernières innovations et outils mis à disposition des
        designers, une source d'inspiration pour tous.
      </li>
      <li>
        Enfin,<a href="https://www.linkedin.com/in/ismailhamila/">
          Ismail Hamila</a
        > et<a href="https://www.linkedin.com/in/adriengibrat/">
          Adrien Gibrat</a
        > en disent plus sur les <strong
          >ateliers proposés dans le livre <a
            href="https://frontguys.fr/the-design-tokens-book/"
            >The Design Tokens Book</a
          ></strong
        >.
      </li>
    </ul>

    <h4 class="font-heading text-xl my-2">Replay video</h4>

    <YouTube id="v24s8yo_ITA" class="my-2" params="cc_load_policy=1" />

    <h4 class="font-heading text-xl my-2">Slides Figma</h4>

    <iframe
      class="w-full max-w-[720px] my-4 border border-slate-5400"
      width="800"
      height="450"
      src="https://www.figma.com/embed?embed_host=share&url=https%3A%2F%2Fwww.figma.com%2Fproto%2F5LQ8Qp3hXCtWiEGUDGXqDe%2FPr%25C3%25A9sentation-REX-FTV%3Fnode-id%3D1-867%26t%3DUBSGh8LiK3LOllsc-1%26starting-point-node-id%3D1%253A867%26scaling%3Dcontain%26content-scaling%3Dfixed%26hotspot-hints%3D0"
      allowfullscreen></iframe>

    <iframe
      class="w-full max-w-[720px] my-4 border border-slate-5400"
      width="800"
      height="450"
      src="https://www.figma.com/embed?embed_host=share&url=https%3A%2F%2Fwww.figma.com%2Fproto%2FJBAWcRaqhMEupCgV2eVGt3%2FMeetup-presentations%3Fnode-id%3D294-4767%26t%3Dk0C3Oclfx37l0EBI-1%26scaling%3Dcontain%26page-id%3D294%253A1145%26starting-point-node-id%3D294%253A4767%26hotspot-hints%3D0"
      allowfullscreen></iframe>

    <h3 class="font-heading text-xl my-2">Liens</h3>

    <section class="links w-full max-w-[720px]">
      <Meetup2Links />
    </section>

    <h4 class="font-heading my-2">📣 Intervenants :</h4>

    <ul>
      <li>
        <a href="https://www.linkedin.com/in/pierre-yves-vignau-a99a9424/"
          >Pierre-Yves Vignau</a
        >, Lead tech Design System @ <a href="https://www.france.tv/"
          >France TV</a
        >
      </li>
      <li>
        <a href="https://www.linkedin.com/in/lesniakromain/">Romain Lesniak</a>,
        Design System Designer @ <a href="https://www.france.tv/">France TV</a>
      </li>
      <li>
        <a href="https://www.linkedin.com/in/mikekamminga/">Mike Kamminga</a>,
        CEO @ <a href="https://www.linkedin.com/company/hyma-bv">Hyma</a>,
        créateurs de<a href="https://tokens.studio/">Tokens Studio</a>
      </li>
      <li>
        <a href="https://www.linkedin.com/in/ismailhamila/">Ismail Hamila</a>,
        Design Lead @ <a href="https://www.malt.fr/profile/ismailhamila"
          >Freelance</a
        >
      </li>
      <li>
        <a href="https://www.linkedin.com/in/adriengibrat/">Adrien Gibrat</a>,
        Front-End Developer @ <a href="https://frontguys.fr/">Frontguys</a>
      </li>
    </ul>

    <h2 class="font-heading text-2xl my-4">Design Tokens serie #3</h2>

    <a href="https://www.meetup.com/designops-meetup/events/301194204/"
      ><strong>Evénement à venir - Le mardi 11 juin 2024 - Paris</strong></a
    >

    <a href="https://www.meetup.com/designops-meetup/events/301194204/">
      <img
        alt="Meetup Design Tokens serie #3 - 11 juin 2024 - Paris"
        class="w-full max-w-[720px] my-4"
        src="https://secure.meetupstatic.com/photos/event/6/e/f/c/600_521248412.webp?w=750"
      />
    </a>

    <p>
      Rejoignez-nous pour une soirée passionnante sur la manière d'améliorer la
      collaboration interdisciplinaire entre les designers, les développeurs et
      les parties prenantes. Cet événement se déroulera en Anglais, ce qui en
      fait une belle occasion, pour un public plus large, d'en bénéficier et d'y
      participer.
    </p>

    <h3 class="font-heading my-2">Programme</h3>

    <ul class="list-disc ps-4">
      <li>
        Découvrez comment les Design Tokens aident à améliorer la collaboration
        dans un nouveau format de rencontre, avec une discussion modérée entre
        DesignOps Manager, System Designer, Engineering Manager de <a
          href="https://www.thefork.fr/">The Fork</a
        > et un représentant de <a href="https://www.supernova.io/">Supernova</a
        >.
      </li>
      <li>
        Profitez de leurs expériences et apprenez comment optimiser vos
        processus de conception et de développement grâce à une collaboration
        efficace.
      </li>
    </ul>

    <h4 class="font-heading my-2">📣 Intervenants :</h4>

    <ul>
      <li>
        <a href="https://www.linkedin.com/in/margaux-marie-81a77b9a/"
          >Margaux MARIE</a
        >, DesignOps Manager @ <a href="https://www.thefork.fr/">The Fork</a>
      </li>
      <li>
        <a href="https://www.linkedin.com/in/thomas-lautr%C3%A9dou-b19b7597/"
          >Thomas Lautrédou</a
        >, Senior System Designer @ <a href="https://www.thefork.fr/"
          >The Fork</a
        >
      </li>
      <li>
        <a href="https://www.linkedin.com/in/julien-riveron/">Julien Riveron</a
        >, Engineering Manager @ <a href="https://www.thefork.fr/">The Fork</a>
      </li><li>
        <a href="https://www.linkedin.com/in/taylorpiper1/">Taylor Piper</a>,
        Head of Sales @ <a href="https://www.supernova.io/">Supernova</a>
      </li>
      <li>
        <a href="https://www.linkedin.com/in/ismailhamila/">Ismail Hamila</a>,
        Design Lead @ <a href="https://www.malt.fr/profile/ismailhamila"
          >Freelance</a
        >
      </li>
      <li>
        <a href="https://www.linkedin.com/in/adriengibrat/">Adrien Gibrat</a>,
        Front-End Developer @ <a href="https://frontguys.fr/">Frontguys</a>
      </li>
    </ul>

    <h1 class="font-heading text-4xl my-8">Le Laptop Meetup à Marseille</h1>

    <a
      href="https://www.meetup.com/fr-FR/le-meetup-du-laptop-ux-creation/events/301270395/"
      ><strong>Evénement à venir - Le jeudi 13 juin 2024 - Marseille</strong></a
    >

    <a
      href="https://www.meetup.com/fr-FR/le-meetup-du-laptop-ux-creation/events/301270395/"
    >
      <img
        alt="Meetup Le Laptop - 13 juin 2024 - Marseille"
        class="w-full max-w-[720px] my-4"
        src="https://secure.meetupstatic.com/photos/event/d/5/f/5/600_521334773.webp?w=750"
      />
    </a>

    <p>
      Au programme, deux conférences placées sous le signe de
      l'opérationnalisation des Design Tokens et de leur déploiement au sein des
      organisations et des équipes Design.
    </p>

    <h4 class="font-heading my-2">📣 Intervenants :</h4>

    <ul>
      <li>
        <a href="https://www.linkedin.com/in/louischenais">Louis Chenais</a>,
        Co-Founder & Chief Evangelist @ <a href="https://specifyapp.com/"
          >Specify</a
        >
      </li>
      <li>
        <a href="https://www.linkedin.com/in/ismailhamila/">Ismail Hamila</a>,
        Design Lead @ <a href="https://www.malt.fr/profile/ismailhamila"
          >Freelance</a
        >
      </li>
      <li>
        <a href="https://www.linkedin.com/in/adriengibrat/">Adrien Gibrat</a>,
        Front-End Developer @ <a href="https://frontguys.fr/">Frontguys</a>
      </li>
    </ul>

    <h1 class="font-heading text-4xl my-8">Friends of Figma Meetup à Lyon</h1>

    <a
      href="https://friends.figma.com/events/details/figma-lyon-presents-design-tokens/"
      ><strong>Evénement à venir - Le mardi 18 juin 2024 - Lyon</strong></a
    >

    <a
      href="https://friends.figma.com/events/details/figma-lyon-presents-design-tokens/"
    >
      <img
        alt="Meetup Frends of Figma - 18 juin 2024 - Lyon"
        class="w-full max-w-[720px] my-4"
        src="https://media.licdn.com/dms/image/D4D22AQFGPD_bswOd5A/feedshare-shrink_2048_1536/0/1717517965458?e=1720656000&v=beta&t=0glzHiejyeOiOlsWwM_NTBRz7m759m9HuhfenLSBa5Q"
      />
    </a>

    <p>
      Les Design Tokens sont devenus des éléments clés pour créer des Design
      System robuste et flexible, comment les mettre en place et les utiliser
      pour améliorer l'expérience utilisateur ?
    </p>

    <ul class="list-disc ps-4">
      <li>
        Adrien Gibrat et Ismaïl Hamila, les auteurs du livre "The Design Token
        Book", partageront leur expertise sur les Design Tokens.
      </li><li>
        Nous aurons également le plaisir d'écouter Louis Chenais, qui nous
        présentera le concept de Design API et leur implication au sein d'un
        design system.
      </li><li>
        Et surtout, l'équipe Design System d'EDF partagera son retour
        d'expérience, leurs connaissances et leurs meilleures pratiques sur la
        mise en place de Design Tokens.
      </li>
    </ul>

    <h4 class="font-heading my-2">📣 Intervenants :</h4>

    <ul>
      <li>
        <a href="https://www.linkedin.com/in/floriane-julliard/"
          >Floriane Julliard</a
        >, Design System Designer @ <a href="https://www.edf.fr/pulse/design"
          >EDF</a
        >
      </li>
      <li>
        <a href="https://www.linkedin.com/in/samuel-boulery/">Samuel Boulery</a
        >, UI Designer @ <a href="https://www.edf.fr/pulse/design">EDF</a>
      </li>
      <li>
        <a href="https://www.linkedin.com/in/hugodouchet/">Hugo Douchet</a>,
        Lead Design System @ <a href="https://www.edf.fr/pulse/design">EDF</a>
      </li>
      <li>
        <a href="https://www.linkedin.com/in/louischenais">Louis Chenais</a>,
        Co-Founder & Chief Evangelist @ <a href="https://specifyapp.com/"
          >Specify</a
        >
      </li>
      <li>
        <a href="https://www.linkedin.com/in/ismailhamila/">Ismail Hamila</a>,
        Design Lead @ <a href="https://www.malt.fr/profile/ismailhamila"
          >Freelance</a
        >
      </li>
      <li>
        <a href="https://www.linkedin.com/in/adriengibrat/">Adrien Gibrat</a>,
        Front-End Developer @ <a href="https://frontguys.fr/">Frontguys</a>
      </li>
    </ul>
    <script>
      document.querySelectorAll("a.rlc-container").forEach((a) => {
        a.target = "_blank";
      });
    </script>
  </section>
</MainLayout>
