---
import LinksMenu from "@/components/links-menu.astro";
import LinksCard from "@/components/cards/links-card.astro";
import MainLayout from "@/layouts/main-layout.astro";
import { getLinks } from "@/lib/fetchers";

const posts = await getLinks();
---

<MainLayout title="Liens">
  <section class="container py-10">
    <h1 class="inline-block font-heading text-4xl mb-5">Liens</h1>
    <div class="flex flex-col-reverse sm:flex-row flex-initial gap-6">
      <LinksMenu />
      <div
        class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-x-6 gap-y-9 md:gap-y-11 lg:gap-y-16 lg:gap-x-8 lg:w-10/12 md:w-9/12"
      >
        {posts.map((post) => <LinksCard {...post} />)}
      </div>
    </div>
  </section>
</MainLayout>
